<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/commonCss :: css"></th:block>
    <title>북마크 관리자</title>
</head>
<body>
    <th:block th:replace="fragments/commonHead :: head"></th:block>

    <!-- main -->
    <div class="wrapper mb-m-50px">
        <th:block layout:fragment="content"></th:block>
    </div>

    <th:block th:replace="fragments/commonFooter :: footer"></th:block>
    <th:block th:replace="fragments/commonJs :: js"></th:block>
</body>
</html>