<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<th:block layout:fragment="content">
    <div class="container">
        <form th:action="@{'/tag/save.do'}" method="post" enctype="multipart/form-data">
            <h1 class="text-center font-weight-bold">CREATE TAG</h1>
            <hr>
            <div class="form-group">
                <label for="inputTagName">Tag Name</label>
                <input type="text" class="form-control form-control-lg" id="inputTagName" name="tagName"
                       placeholder="html, css, database, etc..." required>
            </div>
            <div class="form-group">
                <label for="inputTagImg">Thumbnail Image</label>
                <input type="file" class="form-control-file" id="inputTagImg"
                       name="tagImg" required>
            </div>
            <hr>
            <button class="btn btn-primary w-100 font-weight-bold">CREATE</button>
        </form>
    </div>
</th:block>
</html>