<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/page">

<th:block layout:fragment="content">
    <div class="container" id="tag-list">
        <h1 class="font-weight-bold">Tags</h1>
        <hr>
        <table class="table table-bordered table-sm text-center">
            <colgroup>
                <col width="33%"/>
                <col width="33%"/>
                <col width="33%"/>
            </colgroup>
            <thead class="thead-dark">
            <tr>
                <th>썸네일</th>
                <th>제목</th>
                <th>수정</th>
            </tr>
            </thead>
            <tbody id="unused-list-table">
            <!-- set table by js -->
                <tr>
                    <td class="h-50px align-middle">
                        <img src="/images/icons/post.png" alt="tag thumbnail" class="img-thumbnail h-100">
                    </td>
                    <td class="h-50px align-middle">대충 태그 제목</td>
                    <td class="h-50px align-middle">
                        <button class="btn btn-success">수정</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="push h-125px"></div>

    <script src="/js/util.js"></script>
</th:block>
</html>