<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>태그 등록</title>

    <style>
        html, body {
            height: 100%;
        }

        .wrapper {
            min-height: 100%;
            margin: 0 auto -50px;
            padding-top: 100px;
        }

        .h-50px {
            height: 50px;
        }
    </style>
</head>
<body>

<!-- nav -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark h-50px font-weight-bold">
    <a class="navbar-brand" href="#">BookMark Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mark/create">Create Mark</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/tag/create">Create Tag</a>
            </li>
        </ul>

    </div>
</nav>
<!-- nav -->

<div class="wrapper">
    <div class="container">
        <form th:action="@{'/tag/create.do'}" method="post" enctype="multipart/form-data">
            <h1 class="text-center">CREATE TAG</h1>
            <hr>
            <div class="form-group">
                <label for="inputTagName" class="fs-14">Tag Name</label>
                <input type="text" class="form-control form-control-lg" id="inputTagName" name="tagName"
                       placeholder="html, css, database, etc..." required>
            </div>
            <div class="form-group">
                <label for="validatedCustomFile">Thumbnail Image</label>
                <input type="file" class="form-control-file" id="validatedCustomFile"
                       name="tagImg" required>
            </div>
            <hr>
            <button class="btn btn-primary w-100 font-weight-bold">CREATE</button>
        </form>
    </div>
</div>

<!-- footer -->
<footer class="bg-dark h-50px">
    <div class="container-fluid text-center">
        <small class="text-white">Copyright &copy; ryums12</small>
    </div>
</footer>
<!-- footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>