<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>북마크 등록</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
</head>
<body>
<!-- nav -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark font-weight-bold">
    <a class="navbar-brand" href="#">BookMark Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mark/create">Create Mark</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tag/create">Create Tag</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main -->
<div class="wrapper mb-m-50px">
    <div class="container" id="container-mark">
        <form th:action="@{'/mark/create.do'}" method="post" onsubmit="return fncCheckMarkValue()">
            <h1 class="text-center">CREATE MARK</h1>
            <hr>
            <div class="form-group">
                <label for="mark-title">Mark Title</label>
                <input type="text" class="form-control form-control-lg" id="mark-title" name="mark_title"
                       placeholder="Input Your Title">
            </div>
            <div class="form-group">
                <label for="tag-name">Mark Tag</label>
                <input type="text" class="form-control form-control-lg" id="tag-name" name="mark_tag"
                       placeholder="Input Your Tag" onfocus="fncPreventInput(this)">
                <input type="hidden" name="tag_idx" id="tag-idx">
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#searchTagModal">검색
                </button>
            </div>
            <div class="form-group">
                <label for="mark-url">Mark Url</label>
                <input type="text" class="form-control form-control-lg" id="mark-url" name="mark_url"
                       placeholder="Input Your Url">
            </div>
            <hr>
            <button class="btn btn-primary w-100 font-weight-bold">CREATE</button>
        </form>
    </div>

    <div class="push h-100px"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="searchTagModal" tabindex="-1" role="dialog" aria-labelledby="searchTagModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchTagModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto text-center" style="height: 300px">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>태그</th>
                        <th>선택</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tag : ${tagList}">
                            <td>
                                <span th:text="${tag.tagName}"></span>
                                <input type="hidden" th:value="${tag.tagIdx}">
                            </td>
                            <td>
                                <button class="btn btn-success" onclick="fncSetTagToCreateMark(this)" data-dismiss="modal">선택</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="bg-dark h-50px">
    <div class="container-fluid text-center">
        <small class="text-white">Copyright &copy; ryums12</small>
    </div>
</footer>

<script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
<script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
<script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
<script src="/js/util.js"></script>
<script src="/js/mark.js"></script>
</body>
</html>
