<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/page">

<th:block layout:fragment="content">
    <!-- main -->
    <div role="main" class="container-fluid" id="main">
        <div class="container-fluid">
            <input class="form-control w-100" type="text" placeholder="Search Tag" aria-label="Search"
                   onkeyup="fncGetMarkList(0, this.value);">
        </div>
        <!-- list -->
        <div class="container-fluid mt-4" id="mark-list-container">
            <!-- set list by js -->
        </div>
        <!-- list -->
    </div>
    <div class="push h-125px"></div>

    <!-- Modal -->
    <div class="modal fade" id="modal-update-mark" tabindex="-1" role="dialog"
         aria-labelledby="modal-update-mark">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script src='/js/util.js'></script>
    <script src='/js/main.js'></script>
</th:block>
</html>