<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>북마크 관리자</title>
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body onload="fncGetMarkList(0, '')">

<!-- nav -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark font-weight-bold">
    <a class="navbar-brand" href="#">BookMark Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mark/create">Create Mark</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tag/create">Create Tag</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main -->
<div class="wrapper mb-m-125px">
    <div role="main" class="container-fluid main">
        <div class="container-fluid">
            <input class="form-control w-100" type="text" placeholder="Search Tag" aria-label="Search"
                   onkeyup="fncGetMarkList(0, this.value);">
        </div>
        <!-- list -->
        <div class="container-fluid mt-4" id="mark-list-container">
            <!-- set list by js -->
        </div>
        <!-- list -->
    </div>
    <div class="push h-125px"></div>
</div>

<!-- pagination -->
<div class="container-fluid h-75px position-relative">
    <nav aria-label="pagination" class="custom-center">
        <ul class="pagination pagination-sm mt-3 font-weight-bold" id="pagination">
            <!-- set pagination by js -->
        </ul>
    </nav>
</div>

<!-- footer -->
<footer class="bg-dark h-50px">
    <div class="container-fluid text-center">
        <small class="text-white">Copyright &copy; ryums12</small>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="modal-update-mark" tabindex="-1" role="dialog"
     aria-labelledby="modal-update-mark">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
<script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
<script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
<script src='/js/util.js'></script>
<script src='/js/main.js'></script>
</body>
</html>