<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark font-weight-bold">
        <a class="navbar-brand" href="#">BookMark Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${type.equals('main')} ? 'active' : ''">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" th:classappend="${type.equals('mark')} ? 'active' : ''">
                    <a class="nav-link" href="/mark/create">Create Mark</a>
                </li>
                <li class="nav-item" th:classappend="${type.equals('tag')} ? 'active' : ''">
                    <a class="nav-link" href="/tag/create">Create Tag</a>
                </li>
                <li class="nav-item" th:classappend="${type.equals('unused')} ? 'active' : ''">
                    <a class="nav-link" href="/mark/unused">Unused Marks</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center font-weight-bold mb-0">
        <h1>BookMark Manager Web</h1>
        <p>Tag with thumbnail image, Just change useYn status</p>
    </div>
</th:block>
</html>