<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<th:block layout:fragment="content">
    <div class="container" id="container-mark">
        <form role="form" th:action="@{'/mark/save.do'}" method="post" onsubmit="return fncCheckMarkValue()" id="mark-form">
            <h1 class="font-weight-bold">Create Mark</h1>
            <hr>
            <div class="form-group">
                <label for="mark-title">Mark Title</label>
                <input type="text" class="form-control"
                       id="mark-title" name="markTitle"
                       placeholder="Input Your Title">
            </div>
            <div class="form-group">
                <label for="tag-name-group">Mark Tag</label>
                <div class="input-group" id="tag-name-group">
                    <input type="text" class="form-control" id="tag-name"
                           placeholder="Input Your Tag"
                           onfocus="fncPreventInput(this)" autocomplete="off">
                    <input type="hidden" name="tagIdx" id="tag-idx">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-success"
                                data-toggle="modal" data-target="#modal-search-tag"
                                onclick="fncGetSearchTagList(0, '');">검색
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="mark-url">Mark Url</label>
                <input type="text" class="form-control" id="mark-url" name="markUrl"
                       placeholder="Input Your Url">
            </div>
            <button class="btn btn-primary font-weight-bold">CREATE</button>
        </form>
    </div>

    <div class="push h-100px"></div>

    <!-- modal -->
    <div class="modal fade" id="modal-search-tag" tabindex="-1" role="dialog"
         aria-labelledby="modal-search-tag">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">태그 검색</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputSearchTag" class="col-sm-2 col-form-label">태그 검색</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="inputSearchTag" placeholder="Html, css, js, etc.."
                                   onkeyup="fncGetSearchTagList(0, this.value);">
                        </div>
                    </div>
                    <table class="table table-sm table-bordered table-hover text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th>태그</th>
                            <th>선택</th>
                        </tr>
                        </thead>
                        <tbody id="tag-modal-tbody">
                        </tbody>
                    </table>
                    <div class="container-fluid h-75px position-relative">
                        <nav aria-label="pagination" class="custom-center">
                            <ul class="pagination pagination-sm mt-3 font-weight-bold" id="modal-pagination">
                                <!-- set pagination by js -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/util.js"></script>
    <script src="/js/mark.js"></script>
    <script src="/js/tag.js"></script>
</th:block>
</html>