<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<th:block layout:fragment="content">
    <div class="container">
        <h1 class="font-weight-bold">Unused</h1>
        <hr>
        <table class="table table-sm text-center">
            <colgroup>
                <col width="15%"/>
                <col width="70%"/>
                <col width="15%"/>
            </colgroup>
            <thead class="thead-dark">
                <tr>
                    <th>태그</th>
                    <th>제목</th>
                    <th>사용</th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td class="align-middle">[태그]</td>
                     <td class="align-middle">제목은 제목인데 무슨 제목 아아니 대체 무슨 뜻인데</td>
                     <td>
                         <button class="btn btn-danger">사용</button>
                     </td>
                 </tr>
                 <tr>
                     <td class="align-middle">[태그]</td>
                     <td class="align-middle">제목은 제목인데 무슨 제목 아아니 대체 무슨 뜻인데</td>
                     <td>
                         <button class="btn btn-danger">사용</button>
                     </td>
                 </tr>
                 <tr>
                     <td class="align-middle">[태그]</td>
                     <td class="align-middle">제목은 제목인데 무슨 제목 아아니 대체 무슨 뜻인데</td>
                     <td>
                         <button class="btn btn-danger">사용</button>
                     </td>
                 </tr>
            </tbody>
        </table>
    </div>

    <script src='/js/util.js'></script>
</th:block>
</html>