<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<th:block layout:fragment="content">
    <div class="container" id="container-mark">
        <form th:action="@{'/mark/create.do'}" method="post" onsubmit="return fncCheckMarkValue()">
            <h1 class="text-center font-weight-bold">CREATE MARK</h1>
            <hr>
            <div class="form-group">
                <label for="mark-title">Mark Title</label>
                <input type="text" class="form-control form-control-lg"
                       id="mark-title" name="markTitle"
                       placeholder="Input Your Title">
            </div>
            <div class="form-group">
                <label for="tag-name">Mark Tag</label>
                <input type="text" class="form-control form-control-lg" id="tag-name"
                       placeholder="Input Your Tag"
                       onfocus="fncPreventInput(this)" autocomplete="off">
                <input type="hidden" name="tagIdx" id="tag-idx">
                <br>
                <button type="button" class="btn btn-success"
                        data-toggle="modal" data-target="#searchTagModal">선택
                </button>
            </div>
            <div class="form-group">
                <label for="mark-url">Mark Url</label>
                <input type="text" class="form-control form-control-lg" id="mark-url" name="markUrl"
                       placeholder="Input Your Url">
            </div>
            <hr>
            <button class="btn btn-primary w-100 font-weight-bold">CREATE</button>
        </form>
    </div>

    <div class="push h-100px"></div>

    <!-- Modal -->
    <div class="modal fade" id="searchTagModal" tabindex="-1"
         role="dialog" aria-labelledby="searchTagModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchTagModalLabel">태그 선택하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body overflow-auto" style="height: 300px">
                    <table class="table table-bordered table-hover text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th>태그</th>
                            <th>선택</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tag : ${tagList}">
                            <td class="align-middle">
                                <span th:text="${tag.tagName}"></span>
                                <input type="hidden" th:value="${tag.tagIdx}">
                            </td>
                            <td>
                                <button class="btn btn-success" onclick="fncSetTagToCreateMark(this)" data-dismiss="modal">선택</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src='/js/util.js'></script>
    <script src='/js/mark.js'></script>
</th:block>
</html>